{% extends 'compare/base.html' %}

{% block content %}
<!-- This needs changing, it is wrong and not linked to anything  -->

<div class="container">
	<h1>Problem Details</h1>
    <hr class="solid">

	<h3>{{ object.title }}</h3> 
	<br>
	<p><b>Description:</b></p>
	<p>{{ object.problemInfo }}</p>
	<br>
	<p><b>Data:</b></p>
	{{object.evaluationCode}}
	<br><br>
	<hr class="solid">
	<span style="float:right;">
	<a href="{% url 'submit_solution' object.problemID %}">
		<input class="btn btn-outline-info" type="submit" value="Submit Solution">
	</a>
	</span>
</div>

<br><br><br>

{% endblock content %}